################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/TelerikDocker
/bin/Debug/net6.0
